.container{
    width: 100%;
    /* background-color: blue; */
    
    display: flex;
    justify-content: center;
}
.container .content{
    width: 1310px;
    /* background-color: aliceblue; */
    min-height: 90vh;
    
}
.container .content .title{
    margin-top: 77px;
    font-family: "Cabin",sans-serif;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
}
.container .content .bill{
    display: flex;
}
.container .content .bill .table-bill{
    /* background-color: aqua; */
    text-align: left;
    max-height: 10px;
    
}

.container .content .bill .table-bill tr{
    box-shadow: 0 1px 0 rgba(147, 133, 133, 0.6);
    font-size: 15px;
    font-family: "Cabin",sans-serif;
    
}

.container .content .bill .table-bill tr th{
    height: 63px;
    padding: 20px 15px;
    font-weight: 100;
}
.container .content .bill .table-bill tr th.col-remove{
    width: 45px;
}
.container .content .bill .table-bill tr th.col-thumbnail{

    width: 120px;
}
.container .content .bill .table-bill tr th.col-product{

    width: 228px;
}
.container .content .bill .table-bill tr th.col-price,
.container .content .bill .table-bill tr th.col-estimate{

    width: 118px;
}
.container .content .bill .table-bill tr th.col-quantity{

    width: 180px;
}
.container .content .bill .table-bill tr td{
    height: 141px;
    font-weight: 100;
    padding: 30px 0;
}
/* .container .content .bill .table-bill tr td:not(:first-child){
    padding: 30px 15px;
} */
/* .container .content .bill .table-bill tr td button.close{
 width: 100%;
 height: 100%;
 font-size: 20px;
 background-color: transparent;
 border: none;
 cursor: pointer;
}
.container .content .bill .table-bill tr td img{
    width: 80px;
    height: 80px;
} */
/* phan inpit */
/* .container .content .bill .table-bill tr td .input-quantity{
    width: 128px;
    height: 46px;
    text-align: center;
    border: 1px solid black;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.container .content .bill .table-bill tr td .input-quantity input[type="button"]{
    width: 39px;
    height: 46px;
    border: none;
    
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}
.container .content .bill .table-bill tr td .input-quantity input.plus{
    margin-left: -5px;
}
.container .content .bill .table-bill tr td .input-quantity input.inputnumber{
    width: 50px;
    height: 46px;
    text-align: center;
    margin-left:-5px;
    border: none;
    
}
.container .content .bill .table-bill tr td .input-quantity input.inputnumber:focus{
   border: none;
   outline: none;
}

.container .content .bill .table-bill tr td .input-quantity input.inputnumber::-webkit-inner-spin-button,
.container .content .bill .table-bill tr td .input-quantity input.inputnumber::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
} */

.container .content .bill .total_money_cart{
    width: 390px;
    height: 400px;
    background-color: #f2f2f2;
    margin-left: 50px;
    padding: 30px;
}

.container .content .bill .total_money_cart .table_total_money{
    width: 100%;
    margin-top: 20px;
}
.container .content .bill .total_money_cart .table_total_money th{
    width: 115px;
    text-align: left;
    font-weight: 400;
}

.container .content .bill .total_money_cart .table_total_money th,
.container .content .bill .total_money_cart .table_total_money td{
    padding: 15px 0;
}

.container .content .bill .total_money_cart .table_total_money td.transport{
    text-align: left;
}
.container .content .bill .total_money_cart .table_total_money tr{
    font-size: 14px;
    font-family: "Cabin",sans-serif;
    text-align: left;
    vertical-align: top;
}
.container .content .bill .total_money_cart .table_total_money tr:not(:last-child){
    box-shadow: 0 1px 0 rgba(147, 133, 133, 0.6);
    font-size: 14px;
    font-family: "Cabin",sans-serif;
    text-align: left;
    vertical-align: top;
}

.container .content .bill .total_money_cart .table_total_money tr td.estimate_total_money,
.container .content .bill .total_money_cart .table_total_money tr td.total_money{
    text-align: right;
}
.container .content .bill .total_money_cart .table_total_money tr td.total_money{
    font-size: 25px;
    font-weight: 600;
}
.container .content .bill .total_money_cart .table_total_money tr td .info_transport{
    list-style: none;
    
}
.container .content .bill .total_money_cart .table_total_money tr td .info_transport .info_transport_item{
    margin-bottom: 10px;
    font-size: 13px;
}
.container .content .bill .total_money_cart .check_out{
    height: 46px ;
    margin-top: 30px;
}
.container .content .bill .total_money_cart .check_out .btn_check_out{
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "Cabin",sans-serif;
    font-size: 20px;
    font-weight: 800;
    outline: none;
    color: white;
    background-color: black;
    transition: 0.2s ease-in-out;
}
.container .content .bill .total_money_cart .check_out .btn_check_out:hover{
    background-color: transparent;
    color: black;
}