.container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container .redirect{
    min-width: 1230px;
    padding-bottom: 30px;
    line-height: 60px;
    font-size: 13px;
    font-family: "cabin",sans-serif;
    color: #808080;
}
.container .redirect i{
    font-size: 10px;
    color: #808080;
    margin: 0 8px;
}
.container .redirect a{
    text-decoration: none;
    color: #808080;
}
.container .redirect a:last-child{
    color: #3f1d1d;
    font-weight: 500;
}
.container .container-title{
    min-width: 1230px;
   
}
.container .container-title h1{
   font-size:40px;
    font-family: "cabin",sans-serif;
    font-weight: 400;
}



/* ====== */
.container .container-content{
    min-width: 1230px;
    height: 100%;
    margin: 20px 0;
}
.container .container-content .content-input{
    width: 100%;
    /* height: 74px; */
    display: flex;
    flex-direction: column;
}
.container .container-content .content-input label{
    font-size: 15px;
    font-family: "cabin",sans-serif;
    padding-bottom:6px;
    margin-top: 15px;
}
.container .container-content .content-input input{
    height: 46px;
    padding: 0 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: rgba(71, 65, 65, 0.5);
    outline: none;
    color: #000;
    
}
.container .container-content .content-input input::placeholder{
    font-size: 12px;
    font-weight: 600;
    transition: 1s ease-in-out  ;
}
.container .container-content .content-input input:focus::placeholder{
    color: transparent;
}
.container .container-content .content-input input[type="number"]::-webkit-inner-spin-button,
.container .container-content .content-input input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.container .container-content button{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
    transition: 0.3s ease-in-out;
    transition-delay: 0.2s;
    cursor: pointer;
}

.container .container-content button:hover{
    background: transparent;
    font-weight: 600;
    color: #000;
}
.container .container-content button.enable{
    cursor: not-allowed;
}
.container .container-content button.enable:hover{
    background-color: black;
    color: white;
}