.container .separator-top .product-slide .slide-list .product .product-info .thumnail{
    width: 285px;
    height: 285px;
    position: relative;
}
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img{
    position: absolute;
    width: 100%;
    height: 100%;

}
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-1{
    opacity: 1;
    transition: 0.5s ease-in-out; 
    transition-delay : 0.02s;
}
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-1:hover{
    opacity: 0;
}
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-2{
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-in-out; 
    transition-delay: 0.02s;
}

.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-1:hover + .img-2,
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-2:hover{
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.container .separator-top .product-slide .slide-list .product .product-info .thumnail img.img-2.show{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.container .separator-top .product-slide .slide-list .product .product-info .sale-off{
    background-color: #d9121f;
    width: 50px;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position :absolute;
    top: 16px;
    left: 16px;
    background-color: #d9121f;
    z-index: 30;
}

.container .separator-top .product-slide .slide-list .product .product-info .description{
    padding: 30px 0px 0px 0px;
}
.container .separator-top .product-slide .slide-list .product .product-info .description a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;

}
.container .separator-top .product-slide .slide-list .product .product-info .description .price{
    display: block;
    margin-top: 20px;
    color: #d9121f;
    font-size: 15px;
    font-weight: 500;
}
.container .separator-top .product-slide .slide-list .product .product-function{
    position: absolute;
    top: 10px;
    right: -30px;
    z-index:10;
    transition: 0.1s ease-in-out;
    transition-delay: 0.2s;
    
}
.container .separator-top .product-slide .slide-list .product .product-function .list-function{
    list-style: none;
}
.container .separator-top .product-slide .slide-list .product .product-function .list-function .function-item{
    margin-bottom: 15px;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.container .separator-top .product-slide .slide-list .product .product-function .list-function .function-item button{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
}
.container .separator-top .product-slide .slide-list .product .product-function .list-function .function-item button a{
    text-decoration: none;
    color: black;
}

.container .separator-top .product-slide .slide-list .product .product-info:hover + .product-function,
.container .separator-top .product-slide .slide-list .product .product-function:hover{
    right: 30px;
}
.container .separator-top .product-slide .slide-list .product .product-function .list-function .function-item:hover button,
.container .separator-top .product-slide .slide-list .product .product-function .list-function .function-item:hover button a{
    background-color: rgb(0, 0, 0);
    color: white;
}



@media only screen and (max-width: 600px){
    .container .separator-top .product-slide .slide-list .product .product-info .thumnail{
        width: 285px;
        height: 285px;
        position: relative;
    }
    .container .separator-top .product-slide .slide-list .product .product-info .thumnail img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }

}