footer{
    width: 100%;
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
}
footer .contact{
    width: 1230px;
    height:467px;
    padding: 100px 0 60px 0;
    display: flex;
}

footer .contact .contact-left{
    flex: 0.8;
   
}
footer .contact .contact-left .logo-contact{
    width: 226px;
    height: 56px;
    margin-top: 20px;
}

footer .contact .contact-left .contact-info {
    padding-top: 30px;
}
footer .contact .contact-left .contact-info .contact-location{
    line-height: 30px;
    display: flex;
    margin-bottom: 10px;
}
footer .contact .contact-left .contact-info .contact-location i{
    font-size: 30px;
    margin-right: 10px;
    padding-bottom: 30px;
}
footer .contact .contact-left .contact-info .contact-info-map{
    margin-left: 45px;
    margin-top: 30px;
}
footer .contact .contact-left .contact-info .contact-phone{
    margin: 10px 0;

}
footer .contact .contact-left .contact-info .contact-phone i{
    font-size: 25px;
}
footer .contact .contact-left .contact-info .contact-phone span{
    margin-left: 20px;
}
footer .contact .contact-left .contact-info a{
    color: #808080;
    font-size: 15px;
    font-family: "Cabin", sans-serif;
}

footer .contact .contact-left .contact-info .social button{
    width: 30px;
    height: 35px;
    background-color: transparent;
    border: none;
    outline: none;
}
footer .contact .contact-left .contact-info .social button i{
    font-size: 17px;
    font-weight: 200;
} 



footer .contact .contact-middle{
    flex: 2;
    border-color: rgb(169, 112, 37);
    margin: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    padding: 0 20px;
}
footer .contact .contact-middle .menu-footer{
    flex: 2;
    font-family: "Cabin", sans-serif;
}
footer .contact .contact-middle .menu-footer .list-menu-footer{
    column-count: 2;
    list-style: none;
    -webkit-column-count: 2;
    
}   
footer .contact .contact-middle .menu-footer .list-menu-footer .list-menu-footer-item{
 font-size: 16px;
 line-height: 25px;
 font-weight: 600;
 height: 24px;
 padding: 5px 0;
 margin-bottom: 10px;
} 
footer .contact .contact-middle .menu-function-footer{
    font-family: "Cabin", sans-serif;
}
footer .contact .contact-middle .menu-function-footer .list-menu-function{
    list-style: none;
}
footer .contact .contact-middle .menu-function-footer .list-menu-function .list-menu-function-item{
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    height: 24px;
    padding: 5px 0;
    margin-bottom: 10px;
}




footer .contact .contact-right{
    flex: 1.2;
    
    
}
footer .contact .contact-right h3{
    margin-left: 30px;
    font-size: 25px;
    font-family: "Cabin", sans-serif;
    margin-bottom: 10px;
    font-weight:300 ;
}

footer .contact .contact-right p{
    margin-left: 30px;
    line-height: 30px;
    font-family: "Cabin", sans-serif;
    margin-bottom: 10px;
    font-weight:300;
}